{:index 0, :time 6002125, :type :invoke, :process 0, :f :generate, :value nil}
{:index 1, :time 7276750, :type :invoke, :process 1, :f :generate, :value nil}
{:index 2, :time 7378917, :type :info, :process :nemesis, :f :start-partition, :value :one}
{:index 3, :time 8772834, :type :invoke, :process 2, :f :generate, :value nil}
{:index 4, :time 13810209, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n2" #{"n1" "n0"}, "n1" #{"n2"}, "n0" #{"n2"}}]}
{:index 5, :time 5015075542, :type :info, :process 2, :f :generate, :value nil, :error :net-timeout}
{:index 6, :time 5015662709, :type :info, :process 0, :f :generate, :value nil, :error :net-timeout}
{:index 7, :time 5015730375, :type :info, :process 1, :f :generate, :value nil, :error :net-timeout}
{:index 8, :time 5015770417, :type :invoke, :process 3, :f :generate, :value nil}
{:index 9, :time 5021577167, :type :invoke, :process 4, :f :generate, :value nil}
{:index 10, :time 5026280000, :type :invoke, :process 5, :f :generate, :value nil}
{:index 11, :time 7106055875, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 12, :time 7111675917, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 13, :time 10025363250, :type :info, :process 4, :f :generate, :value nil, :error :net-timeout}
{:index 14, :time 10025593375, :type :invoke, :process 7, :f :generate, :value nil}
{:index 15, :time 10029455209, :type :info, :process 3, :f :generate, :value nil, :error :net-timeout}
{:index 16, :time 10029728625, :type :invoke, :process 6, :f :generate, :value nil}
{:index 17, :time 10030055875, :type :info, :process 5, :f :generate, :value nil, :error :net-timeout}
{:index 18, :time 10030331292, :type :invoke, :process 8, :f :generate, :value nil}
{:index 19, :time 15029850417, :type :info, :process 7, :f :generate, :value nil, :error :net-timeout}
{:index 20, :time 15030016250, :type :invoke, :process 10, :f :generate, :value nil}
{:index 21, :time 15033164417, :type :info, :process 6, :f :generate, :value nil, :error :net-timeout}
{:index 22, :time 15033303584, :type :invoke, :process 9, :f :generate, :value nil}
{:index 23, :time 15036732959, :type :info, :process 8, :f :generate, :value nil, :error :net-timeout}
{:index 24, :time 15036886792, :type :invoke, :process 11, :f :generate, :value nil}
{:index 25, :time 20031117250, :type :info, :process 10, :f :generate, :value nil, :error :net-timeout}
{:index 26, :time 20031325250, :type :invoke, :process 13, :f :generate, :value nil}
{:index 27, :time 20038084792, :type :info, :process 9, :f :generate, :value nil, :error :net-timeout}
{:index 28, :time 20038258792, :type :invoke, :process 12, :f :generate, :value nil}
{:index 29, :time 20043300667, :type :info, :process 11, :f :generate, :value nil, :error :net-timeout}
{:index 30, :time 20043465750, :type :invoke, :process 14, :f :generate, :value nil}
{:index 31, :time 22045272625, :type :info, :process :nemesis, :f :start-partition, :value :majority}
{:index 32, :time 22048348375, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n1" #{"n2" "n0"}, "n2" #{"n1"}, "n0" #{"n1"}}]}
{:index 33, :time 25033192667, :type :info, :process 13, :f :generate, :value nil, :error :net-timeout}
{:index 34, :time 25033410000, :type :invoke, :process 16, :f :generate, :value nil}
{:index 35, :time 25043196250, :type :info, :process 12, :f :generate, :value nil, :error :net-timeout}
{:index 36, :time 25043556167, :type :invoke, :process 15, :f :generate, :value nil}
{:index 37, :time 25049359709, :type :info, :process 14, :f :generate, :value nil, :error :net-timeout}
{:index 38, :time 25049564125, :type :invoke, :process 17, :f :generate, :value nil}
{:index 39, :time 29389412917, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 40, :time 29390984084, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 41, :time 30039455625, :type :info, :process 16, :f :generate, :value nil, :error :net-timeout}
{:index 42, :time 30049352084, :type :info, :process 15, :f :generate, :value nil, :error :net-timeout}
{:index 43, :time 30052998125, :type :info, :process 17, :f :generate, :value nil, :error :net-timeout}
